@charset "utf-8";
/*Reset General*/
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 5px #266bb8;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl {
	padding: 0;
	margin: 0;
	list-style: none; 

}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}

a img {
	border: none;
}

a{
	text-decoration: none;
}

a:hover, 
a:active, 
a:focus { 
	text-decoration: none;
}
/*Fin Reset*/

/*Container*/
#container {
	width: 960px;
	margin:0 auto; 
}

.centrar {
	width: 100%; 
	margin:0 auto; 
	overflow:auto; 
	position:relative;
}

/*Fin Container*/




/*Header */

#header {
	height: 110px;
}

#logo { 
	float:left; 
	height:99px; 
	margin-top:10px;
	width:170px; 
}
#menu {
	width: 67%; 
	float: right;
}
#menu ul.menuPrincipal {
	width: 100%; 
	float: right; 
	text-align:right; 
	padding-top: 35px; 
	z-index:2;
}

#menu ul.menuPrincipal li { 
	display: inline-block; 
	margin:0 5px 0 0;
	position: relative;
}

#menu a{
	padding: 40px 20px 4px 20px;
	font-size: 0.9em;
}

#activo {
	background: #B82634;
	text-decoration: none;
	color: #FFF;
	cursor: default;
}

#menu a:link {
	color: #42413C;
}
#menu a:visited {
	color: #42413C;
}
#menu a:hover, 
#menu a:active,
#menu a:focus { 
	background: #B82634;
	text-decoration: none;
	color: #FFF;
}

#nav ul{
	background:#fff; 
	background:rgba(255,255,255,0); 
	list-style:none;
	position:absolute;
	left:-9999px;
}

#nav ul li{
	padding-top:1px; 
	float:none;
}
#nav ul a{
	margin-top: 5px;
	margin-left: 20px;
	padding: 0px;
	white-space: nowrap; 
}
#nav li:hover ul{
	text-align: left;
	left: 0; 
}

#nav li:hover a{
	background: #B82634;
	color: #FFF;
}

#nav li:hover ul a{
	background: #FFF; 
	color: #42413C;
}
#nav li:hover ul li a:hover{
	background: #FFF;
	color: #B82634;
}
/*Fin items header*/
#submenu {
	color: gray;
	font-size: 12px;
	margin-top: 60px;
	z-index: 2;
	position: absolute;
}
#submenu ul{
	float: left;
}
#submenu ul li {
	list-style: none;
	float: left;
	margin-right: 40px;
}
.present{
	color: #CCCCCC;
}
#submenu a,
#submenu a:hover, 
#submenu a:active, 
#submenu a:focus,
#submenu a:visited{
	color: gray;
	text-decoration: none;
}
#camino {
	
}
#camino ul{
	top: 150px;
	position: absolute;
	text-align:left;  
	z-index:2;
}

#camino ul li {
	display: inline-block; 
	margin:0 5px 0 0;
	color: gray;
	font-size: .8em;
}

#camino ul li a{
	color: gray;
}

#camino ul li a:hover {
	text-decoration: underline;
}

#quienes {
	margin-top: -25px;
	width: 100%;
	height: auto;
	position: relative;
} 

h2 {
	color: #535353;
	font-size: 1em;
	margin-left: 710px;
}

h2 span {
	font-family: 'Magra', sans-serif;
	color: #8E8E8E;
	font-size: 3em;
	line-height: 40px;
}

#quienes article {
	background: #CCC;
	border-radius: 10px;
	color: #FFF;
	margin: 30px auto;
	padding: 30px 20px;
	text-align: justify;
	width: 85%;
}

#quienes h3 {
	font-family: 'Magra', sans-serif;
	font-size: 1.8em;
	color: #8E8E8E;
	margin: 0px 0px 10px 5px;
	padding: 0;
	width: 56%;
}

#quienes img {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	width: 38%;
}

#quienes p {
	display: inline-block;
	font-family: Calibri;
	font-size: 1.2em;
	text-align: left;
	vertical-align: top;
	width: 56%;
}

/* Inicio Footer*/
#footer {
	width: 100%;
	font-family: 'Magra', sans-serif;
	height:146px;
	background: #EEE url("../img/foto-footer.png") no-repeat;
	margin-bottom: 0px;
}

#menuDatos {
	width: 440px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px; 
	margin-bottom: 10px;
	
}

#menuDatos li {
	list-style:none; 
	display:inline-block; 
	margin:0 20px;
}

#menuDatos ul{
	list-style:none;
	z-index:2;
} 

#menuDatos li {
	font-size: .8em;
	list-style:none; 
	float: left; 
	margin:20px 20px 0 5px;
}


#menuDatos  a{ 
	color: #666;
}

#menuDatos a:hover, 
#menuDatos a:active, 
#menuDatos a:focus{
	text-decoration: underline;
}

#menuDatos .redes a{
	display: block;
	margin-top: -10px;
	width: 36px;
	height: 36px;
}

#DatosEmpresa {

	width: 370px;
	height: 95px;
	z-index: 4;
	position: relative;
	margin: 0 auto;
}
#logoFooter {
	float: left;
}

#logoFooter img {
	display: block;
	margin-top: 25px;
	height: 60px;
	border-right: solid;
	border-width: 1px;
	border-color: black;
}
#contactFooter {

	position: absolute;
	margin-left: 140px;
	margin-top: 20px;
}
#contactFooter p {
	position: absolute;
	color: #666;
	font-size: 13px;
	width: 250px;
	margin-top: 5px;
	
}

#creditos {
	float: right;
	position: absolute;
	right: 0px;
	margin-top: -90px;
}

#creditos p{
	
	color: #C3C4C6;
	font-size: 13px;
	
}
#creditos a{
	background: url("../img/antorchaio.png");
	display: inline-block;	
	line-height: 80px;
	vertical-align: middle;
	height: 80px;
	width: 128px;
}

#fb img{
	margin-top: -10px;
}
/* Final Footer*/

